*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    height: 100rem;
    background: linear-gradient(
        to right,
        #357274,
        #0b526e
    );
}
.container{
    position: absolute;
    width: 40%;
    min-width: 2rem;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 2rem 5rem;
    margin: 2rem;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    font-family: 'Rowdies', serif;
}
p{
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}
input[type="text"]{
    width: 40rem;
    font-weight: 600;
    padding: 20px 0;
    margin: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    color: black;
    border: 2px solid black; 
}
button{
    height: 1.6rem;
    width: 5rem;
    padding: 1.6rem;
    margin: auto;
    border-radius:30px;
    background-color: teal;
    color: black;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    outline: none;
    display: inline-block;
    vertical-align: middle;
}